/* Responsive Web Designe */

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html {
    background-color: #777;
    font-size: 15px;
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, San Francisco, Helvetica Neue, Helvetica, Ubuntu, Roboto, Noto, Segoe UI, Arial, sans-serif;
    color: #111;
    height: 100%;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, San Francisco, Helvetica Neue, Helvetica, Ubuntu, Roboto, Noto, Segoe UI, Arial, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.6;
    color: #111;
    height: 100%;
    /* note #1 */
    margin: 0;
    /* note #2 */
    overflow: hidden;
}

.contaner {
    width: 100%;
    height: 100%;
    background-color: #F2F5F8;
    display: flex;
    flex-direction: column;
}


/* Start Header styling */

header.header {
    background-color: #fff;
    flex-grow: 2;
    height: 162px;
    flex-shrink: 1;
    box-shadow: 0px 1px 20px -15px rgb(0, 0, 0, 0.75);
    position: relative;
    display: flex;
    flex-direction: column;
}

@media (max-width:756px) {
    header.header {
        height: 50px;
    }
}


/* Start header nav top */

header.header .header_nav {
    background-color: #fff;
    flex-grow: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-shrink: 1;
    font-size: 15px;
    text-transform: capitalize;
}

header.header .header_nav .name_site {
    font-size: 30px;
    font-weight: 400;
    color: #111;
    flex-grow: 1;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.content_input_search {
    background-color: inherit;
    flex-grow: 12;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 14px;
    color: #828282;
    transition: color .2s ease-in-out;
    border-right: 1px solid #d1d1d1;
}

.content_input_search>div:hover {
    color: #111;
    cursor: pointer;
}

.content_input_image_search {
    background-color: #F0F0F0;
    flex-basis: 60%;
    border: none;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.search {
    flex-basis: 80%;
    padding: 12px;
    border: none;
    background-color: #F0F0F0;
    color: #767676;
    font-weight: 300;
    font-size: 14px;
    outline: none;
    transition: all .5s ease-in-out;
}

.search:focus {
    outline: none;
    color: #111;
    text-indent: 35px;
    text-transform: capitalize;
    font-weight: 350;
    color: #767676;
}

.search_icon {
    filter: invert(50%) sepia(0%) saturate(0%) hue-rotate(90deg) brightness(92%) contrast(87%);
}

.btn-add {
    font-size: 14px;
    font-weight: 400;
    color: #999494;
    padding: 5px;
    background-color: #fff;
    border: 1px solid #b6b3b3;
    border-radius: 4px;
    text-align: center;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.btn-add:hover {
    box-shadow: 0 1px 2px rgba(0, 0, 0, .08);
    color: #111;
    border: 1px solid #111;
}

.content_subscribe {
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    color: #828282;
}

.content_subscribe>a {
    color: #828282;
    text-decoration: none;
}

.content_subscribe>a:hover {
    color: #111;
}

.join_free {
    background-color: #4BBC7B;
    color: #fff;
    border: 1px solid transparent;
    padding: 5px;
    font-size: 14px;
    border-radius: 4px;
    font-weight: 500;
    height: 32px;
    padding: 0 11px;
    transition: all .5s ease-in-out;
}

.join_free:hover {
    background-color: #37a866;
}

.join_free_link {
    text-decoration: none;
    color: #fff;
}


/* Start media  Query */

@media (max-width:756px) {
    header.header .header_nav {
        font-size: 10px;
        padding-top: 10px;
        padding-left: 8px;
        padding-right: 8px;
    }
    header.header .header_nav .name_site {
        font-size: 13px;
        font-weight: 500;
        color: #111;
    }
    .content_input_search {
        font-size: 8px;
    }
    .content_input_image_search {
        padding-left: 10px;
        margin-left: 3px;
        margin-right: 3px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .search {
        flex-basis: 50%;
        text-overflow: ellipsis;
        padding: 5px;
        border-radius: 50%;
        font-weight: 100;
        text-indent: 0px;
        font-size: 10px;
        outline: none;
        transition: all .5s ease-in-out;
    }
    .search:focus {
        outline: none;
        color: #111;
        text-indent: 0px;
        text-transform: capitalize;
        font-weight: 100;
        color: #767676;
    }
    .search_icon {
        width: 10px;
        filter: invert(50%) sepia(0%) saturate(0%) hue-rotate(90deg) brightness(92%) contrast(87%);
    }
    .btn-add {
        font-size: 10px;
        font-weight: 300;
        text-align: left;
        color: #999494;
        padding: 2px;
        background-color: #fff;
        border: .2px solid #b6b3b3;
        border-radius: 2px;
        text-align: center;
        box-shadow: 0 .5px .5px rgba(0, 0, 0, .04);
        cursor: pointer;
        transition: all .5s ease-in-out;
    }
    .content_subscribe>a {
        color: #828282;
        text-decoration: none;
        font-size: 8px;
    }
    .join_free {
        border: 1px solid transparent;
        padding: 5px;
        font-size: 8px;
        border-radius: 4px;
        font-weight: 200;
        height: 20px;
        padding: 0 5px;
        transition: all .5s ease-in-out;
    }
}

@media (max-width:490px) {
    .content_subscribe>a {
        color: #828282;
        text-decoration: none;
        font-size: 5px;
        margin-left: 3px;
        margin-right: 3px;
    }
    .join_free {
        /* btn create new acount */
        border: 1px solid transparent;
        padding: 5px;
        font-size: 5px;
        border-radius: 4px;
        font-weight: 200;
        height: 20px;
        padding: 0 5px;
        transition: all .5s ease-in-out;
    }
    .btn-add {
        /* Btn add new picture */
        font-size: 4px;
        font-weight: 300;
        text-align: left;
        color: #26a13f;
        padding: 2px;
        background-color: #fff;
        border: .2px solid #b6b3b3;
        border-radius: 1px;
        margin-right: 3px;
        margin-left: 3px;
        text-align: center;
        box-shadow: 0 .5px .5px rgba(0, 0, 0, .04);
        cursor: pointer;
        transition: all .5s ease-in-out;
    }
    .btn-add:hover {
        /* Btn add new picture hover */
        color: rgb(196, 19, 19);
        border: .5px solid rgb(196, 19, 19);
    }
    .fqa {
        margin-left: 3px;
        margin-right: 3px;
        font-size: 6px;
    }
    .explore {
        font-size: 6px;
    }
    .search {
        /* input search pictures */
        flex-basis: 50%;
        text-overflow: ellipsis;
        padding: 5px;
        border-radius: 50%;
        font-weight: 100;
        text-indent: 0px;
        font-size: 6px;
        outline: none;
        transition: all .5s ease-in-out;
    }
    .search:focus {
        /* focus input search pictures */
        outline: none;
        color: rgb(199, 84, 18);
        text-indent: 0px;
        text-transform: capitalize;
        font-weight: 100;
    }
}


/* End Header nav top */


/* start Header Menue */

header.header .header_menu {
    background-color: inherit;
    flex-grow: 2;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
}

.first_age {
    flex-grow: 1;
    background-color: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.hr_vertical {
    width: 0;
    height: 30px;
    border: .7px solid #d1d1d1;
    margin-left: 20px;
}

.content_site {
    background-color: inherit;
    flex-grow: 10;
    width: 10%;
    display: flex;
    align-items: center;
    overflow: auto;
}

.content_site ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden-unscrollable;
    list-style-type: none;
}

.content_site ul li {
    margin-left: 10px;
}

li a {
    cursor: pointer;
    color: #828282;
    font-size: 14px;
    text-decoration: none;
    font-weight: 400;
}

li a:hover {
    color: #111;
}

.first {
    font-weight: 200;
    color: #111;
}

.two {
    color: #828282;
    font-size: 14px;
    font-weight: 400;
}

.content_all {
    background-color: inherit;
    flex-grow: 1;
    display: flex;
    align-items: center;
    color: #828282;
    justify-content: center;
    text-transform: capitalize;
    transition: all .2s ease-in-out;
    cursor: pointer;
    border: none;
}

.content_all:hover {
    color: #111;
}

@media (max-width:490px) {
    .first_age {
        font-size: 10px;
    }
    .hr_vertical {
        width: 0;
        height: 10px;
        border: .7px solid #d1d1d1;
        margin-left: 20px;
    }
}

@media (max-width:756px) {
    .first_age {
        display: flex;
        font-size: 10px;
    }
    .hr_vertical {
        width: 0;
        height: 20px;
        border: .7px solid #d1d1d1;
        margin-left: 20px;
    }
    li a {
        cursor: pointer;
        color: #828282;
        font-size: 8px;
        text-decoration: none;
        font-weight: 400;
    }
    .first {
        font-size: 8px;
    }
    .two {
        font-size: 8px;
        font-weight: 400;
    }
    .content_all {
        font-size: 10px;
    }
}


/* the End Media Query for Content Menue */


/* Star Media Quer For main content */

main.main {
    background-color: #fff;
    flex-grow: 12;
    height: 100vh;
    overflow: scroll;
    flex-shrink: 1;
}

.content_image {
    background-image: url("../Assets/img/backgrround1.jpg");
    background-position: top;
    background-size: cover;
    width: 100%;
    height: 79vh;
}

.main_content_images_site {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: space-around;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-bottom: 20px;
}

.image_site_show {
    width: 300px;
    height: 400px;
    background-size: cover;
    padding: 10px;
    background-position: center;
}

@media (max-width:490px) {
    .content_image {
        background-position: center;
        background-size: cover;
        height: 50vh;
    }
    .image_site_show {
        width: 100px;
        max-height: 120px;
        padding: 5px;
    }
}

@media (min-width:756px) {
    .content_image {
        background-position: top;
        background-size: cover;
        height: 70vh;
    }
    .image_site_show {
        width: 100px;
        max-height: 90px;
        padding: 5px;
    }
}

@media (min-width:992px) {
    .content_image {
        background-position: top;
        background-size: cover;
        height: 80vh;
    }
    .image_site_show {
        width: 300px;
        min-height: 250px;
    }
}

@media (min-width:1200px) {
    .content_image {
        background-position: top;
        background-size: cover;
        height: 80vh;
    }
    .image_site_show {
        width: 200px;
        min-height: 300px;
    }
}